.pass
{
    color: white;
    padding: 10px;
    background-color: darkgreen;
    width: 350px;
    border-radius: 10px;
    margin: 2px;


}
.fail
{
    color: white;
    padding: 10px;
    background-color: red;
    width: 350px;
    border-radius: 10px;
    margin: 2px;
    text-decoration: line-through;
}